body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px; /* 添加一些内边距以确保图片不贴边 */
}

.image-container {
    position: relative;
    width: 100px; /* 默认宽度 */
    height: 100px; /* 默认高度 */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 确保图片保持比例且不被裁剪 */
    object-position: top; /* 图片从顶部开始显示 */
    background: #ddd; /* 占位符颜色 */
    loading: lazy; /* 懒加载 */
}

.image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

.image-container:hover .overlay {
    opacity: 1;
}

/* 手机设备样式 */
@media (max-width: 600px) {
    #gallery {
        gap: 5px; /* 调整间距 */
    }

    .image-container {
        width: 80px; /* 调整宽度 */
        height: 80px; /* 调整高度 */
    }
}

/* 平板设备样式 */
@media (min-width: 601px) and (max-width: 900px) {
    .image-container {
        width: 100px; /* 调整宽度 */
        height: 100px; /* 调整高度 */
    }
}

/* 电脑设备样式 */
@media (min-width: 901px) {
    .image-container {
        width: 150px; /* 调整宽度 */
        height: 150px; /* 调整高度 */
    }
}
